@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@470&display=swap');

* {
    font-family: 'Open Sans';
}

html{
    background-color: #1b1b1b;
    color: white;
}

.hdr_des{
    color: white;
}

.twit_but{
    background-color: #1b1b1b;
    border-color: #1b1b1b;
}

.download_but{
    background-color: #1b1b1b;
    border-color: #1b1b1b;
}

.but_1b1b1b{
    background-color: #1b1b1b;
    border-color: #1b1b1b;
}

.centered_text{
    text-align: center;
}